* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'EB Garamond', Georgia, 'Times New Roman', serif;
}

p {
    font-size: 18px;
    color: black;
}

h1 {
    font-size: 40px;
    color: #2E74B5;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    color: #92D050;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    margin-top: 10px;
    color: #2E74B5;
    font-weight: bold;
}

h4 {
    font-size: 22px;
    margin-top: 10px;
    color: #00B0F0;
    font-weight: bold;
}

h5 {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.profil-pro {
    margin-bottom: 10px;
}
.pp-container {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: auto auto auto;
    gap: 0;
    padding: 0px;
    width: 1000px;
    margin: 0 auto;
}

section {
    padding: 40px;
    text-align: left;
}

.photo {
    background-color: #BDD7EE;
    text-align: center;
    padding-bottom: 0px;
}

#photo {
    width: 270px;
    height: auto;
}

.presentation {
    background-color: white;
    padding-bottom: 0px;
}

.presentation h1,
h2 {
    text-align: center;
}

.infos-formation {
    background-color: #BDD7EE;
    padding-top: 0px;
}

.infos-formation p:first-of-type {
    margin-top: 12px;
}

.connaissances-experience {
    padding-top: 0px;
}

section.connaissances-experience h3:first-of-type {
    margin-top: 0px;
}

.connaissances-experience p {
    margin-top: 3px;
}

.connaissances-colonnes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 2rem;
    row-gap: 0.5rem;
    align-items: start;
}

.connaissances-experience h3:nth-of-type(2) {
    margin-top: 2rem;
}