* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Garamond;
}

p {
    font-size: 18px;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    margin-top: 20px;
    color: #1F4E79;
    font-weight: bold;
}

h4 {
    font-size: 22px;
    margin-top: 10px;
    color: #2E74B5;
    font-weight: bold;
}

h5 {
    font-size: 20px;
    color : #2E74B5;
    font-weight: bold;
}

.pp-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto auto;
    gap: 0;
    padding: 0px;
}

section {
    padding: 40px;
    text-align: left;
}

.photo {
    background-color: #1F4E79;
    /* bleu foncé */
    color: white;
    text-align: center;
}

#photo {
    width: 200px;
    height: auto;
}

.presentation {
    background-color: #1F4E79;
    color: white;
    text-align: center;
}

.presentation p {
    margin-bottom: 10px;
}

.infos-formation {
    background-color: #BDD7EE;
    /* bleu clair */
    color: black;
}

.infos-formation p {
    margin-top: 3px;
}

.connaissances-experience {
    background-color: white;
    color: black;
}

section.connaissances-experience h3:first-of-type {
    margin-top: 0px;
}

.connaissances-experience p {
    margin-top: 3px;
}